.footer {
    padding-bottom: 16px;
    
}
.footer__container {
    padding-bottom: 64px;
}

.footer__block{

    @media (min-width: $tablet) {
        display: flex;
        padding-bottom: 0;
    }

    @media (min-width: $desktop) {
        gap: 257px;
        justify-content: center;
    }
}

.footer__logo {
    width: 127px;
    
    @media (min-width: $tablet) {
        width: 169px;
        margin-right: 148px;
        margin-bottom: 0;
    }
        
     @media (min-width: $desktop) {
        width: 259px;
        margin-right: 0px;
    }
}

.footer__logo-img {
    width: 127px;
    justify-content: start;
    margin-bottom: 32px;
    
    fill: var(--main-color);
  
    @media (min-width: $tablet) {
        width: 169px;
        margin-right: 148px;
        margin-bottom: 0;
    }

    @media (min-width: $desktop) {
        width: 259px;
    }
}

.footer__list,
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    font-family: var(--second-font);
    line-height: 1.40;
    letter-spacing: 0.16px;

    @media (min-width: $tablet) {
        gap: 16px;
        font-size: 18px;
        letter-spacing: 0.18px;
    }

}

.footer__list {
    margin-bottom: 32px;

    @media (min-width: $tablet) {
        margin-right: 111px;
        margin-bottom: 0;
    }

    @media (min-width: $desktop) {
         margin-right: 257px;
    }
}

.contacts {
    margin-bottom: 32px;

    @media (min-width: $tablet) {
        align-items: flex-end;
        margin-bottom: 40px;
    }
}

.footer__social-networks {

    @media (min-width: $tablet) {
        display: flex;
        justify-content: flex-end;
    }
}

.footer__text {
    text-align: center;
}