.gallery {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 112px;

    min-height: 100%;

   

        @media (min-width: $tablet) {
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 158px;
        }

        @media (min-width: $desktop) {
            padding-right: 0;
        
        }
}


.gallery__title {
    margin-bottom: 32px;
    text-align: center;
    font-family: var(--second-font);
    font-size: 40px;
    line-height: 1.40;
    letter-spacing: 0.4px;

    @media (min-width: $tablet) {
        margin-bottom: 64px;
        font-size: 64px;
        letter-spacing: 0.64px;
    }

}

.gallery__img {
    text-align: center;
    width: 375px;
    height: 494px;
    border-radius: 4px;
    margin-bottom: 14px;

    @media (min-width: $tablet) {
        width: 377px;
        margin-bottom: 42px;

    }


}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    display: none;
}





.swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 10px;
    background-color: var(--main-color);
}

.swiper .swiper-slide {
    width: auto;
}

.swiper .swiper-pagination {
    position: static;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
    
}
.swiper .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: none; 
    
}

.swiper .swiper-button-prev {
    left: 0;
    @media (min-width: $tablet) {
            left: 32px;
            
    }
}

.swiper .swiper-button-next {
    right: 0;

    @media (min-width: $tablet) {
        right: 32px;
        
    }
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    top: auto;
    margin-top: 0;
    width: 114px;

    @media (min-width: $tablet) {
        width: 144px;
    }
    
}

.swiper .ourTours-button-next,
.swiper .ourTours-button-prev {
    @media (min-width: $desktop) {
            top:var(--swiper-navigation-top-offset, 45%);
            
        }
}



.icon__arrow {
    fill: var(--main-color);
    
}
