.gallery {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 112px;

    min-height: 100%;

   

        @media (min-width: $tablet) {
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 158px;
        }

        @media (min-width: $desktop) {
            padding-right: 0;
        
        }
}


.gallery__title {
    margin-bottom: 32px;
    text-align: center;
    font-family: var(--second-font);
    font-size: 40px;
    line-height: 1.40;
    letter-spacing: 0.4px;

    @media (min-width: $tablet) {
        margin-bottom: 64px;
        font-size: 64px;
        letter-spacing: 0.64px;
    }

}

.gallery__img {
    text-align: center;
    width: 343px;
    height: 494px;
    border-radius: 4px;

    @media (min-width: $tablet) {
        width: 377px;

    }


}
// .swiper {
//     height: 526px;

//     @media (min-width: $tablet) {
//         height: 558px;
//     }
// }

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    color: var(--main-color);
    font-size: 24px;
    
}

.swiper .swiper-pagination {
    bottom: 0;
}

.swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 10px;
    background-color: var(--main-color);
}

.swiper .swiper-slide {
    width: auto;
}