.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    
}
.nav__list {
    display: none;

    @media (min-width: $tablet) {
        display: flex;
        gap: 32px;
    }

    @media (min-width: $desktop) {
        gap: 64px;
    }

}

.nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1,40;
}