.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;

    z-index: 999;
    
}
.nav__list {
    display: none;

    @media (min-width: $tablet) {
        display: flex;
        gap: 32px;
    }

    @media (min-width: $desktop) {
        gap: 64px;
    }

}

.nav__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1,40;


}
.nav__link-item {
    transition: var(--anima-fast);
        &:hover,
        &:focus {
            font-size: 30px;

    }
}