.ourTours {
    width: 100%;
    padding-bottom: 80px;
    justify-content: center;

}

.ourTours__title {
    font-family: var(--second-font);
    font-size: 40px;
    line-height: 1.40;
    letter-spacing: 0.4px;
    text-align: center;
}
.ourTours-slide {
    width: 375px;
    height: auto;


}


.ourTours__img {
    text-align: center;
}

.ourTours__text {
   font-family: var(--main-font);
    line-height: 1.40;
    letter-spacing: 0.16px;
}
