.reviews {
    padding-bottom: 80px;

    @media (min-width: $tablet) {
        padding-bottom: 100px;
    }
}

.reviews__title {
    margin-bottom: 32px;
    text-align: center;
    font-family: var(--second-font);
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.4px;

    @media (min-width: $tablet) {
        margin-bottom: 42px;
        font-size: 64px;
        letter-spacing: 0.64px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 64px;
    }
}

.reviews__card {
    padding: 32px;
    width: 279px;
    // height: 527px;

    border-radius: 4px;
    border: 1px solid var(--White, #FFF);

    @media (min-width: $tablet) {
        width: 256px;
        // height: 696px;
    }
        
    @media (min-width: $desktop) {
            
}
}

.reviews__client {
    display: flex;
    gap: 24px;

    margin-bottom: 32px;
}

.reviews__img {
    border-radius: 80px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.reviews__client-name {
    margin-bottom: 11px;
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.18px;

    @media (min-width: $tablet) {
        margin-bottom: 8px;

        font-size: 20px;
        etter-spacing: 0.2px;
    }

    @media (min-width: $desktop) {

    }

}

.star__list {
    display: flex;
    gap: 4px;
}

.star__item {
    width: 24px;
    height: 24px;
}

.reviews__card-text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.16px;
}
