.social__list {
    display: flex;
    gap: 15px;


}
.social__icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);

    transition: var(--anima-fast);
            
        &:hover,
        &:focus {
            border: 1px solid var(--main-color);
            background: var(--background-color);
        }
}