// .startTravel {
//     background-image: url("/images/startTravel-img.jpg");
    
// }



.startTravel__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 32px;

    line-height: 1.40;
    letter-spacing: 0.16px;
}

.startTravel__title {
    font-family: var(--second-font);
    font-size: 32px;
    line-height: 1.40;
    letter-spacing: 0.32px;
}

.startTravel__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-family: var(--second-font);
    font-size: 18px;

    line-height: 1.4;
    letter-spacing: 0.18px;
}
.form__input {
    display: flex;
    padding: 14px 12px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    
}
.form__input::placeholder {
    line-height: 1.40;
    letter-spacing: 0.16px;
}

.form__textarea{
    width: 100%;
    height: auto;
    padding: 14px 12px;

    border: 1px solid var(--main-color);
}

.form__textarea::placeholder {
    color: var(--input-color);
     line-height: 1.40;
    letter-spacing: 0.16px;
}
.form__btn {
    width: 100%;
    padding: 16px 52px;

    background: var(--btn-color);

    color: var(--main-color);
    font-family: var(--second-font);
    line-height: 1.4;
    letter-spacing: 0.16px;
}




