:root {

    --text-color: #FFFFFF;
    --background-color: #141A19;;
    // --secondary-logo-color: #000000;
    // --secondary-contacts-color: rgba(255, 255, 255, 0.6);
    // --color-shadow-hero-button: rgba(0, 0, 0, 0.15);
    // --color-bg-btn-filters: #F5F4FA;
    // --border-color: #EEEEEE;
    // --main-icons-color: #AFB1B8;


    /* Fonts */
    --main-font: Lato;
    --title-font: Jomolhari;

    // Others
    // --indent: 30px;
    // --items: 3;

    --anima-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}